<div class="app-table">
  <div class="app-table-header">
    <h4>Header</h4>
  </div>
  <div class="app-table-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>No</th>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>John Doe</td>
            <td>johndoe</td>
            <td>johndoe@gmail.com</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Jane Doe</td>
            <td>jane</td>
            <td>janedoe@gmail.com</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
