/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";

div.ngid-table {
  margin-bottom: 1.5rem;
  div.ngid-table-header {
    display: block;
    div.input-group {
      &.input-search {
        span.input-group-text {
          background-color: transparent;
          border-right: unset;
          em.fas.fa-filter {
            cursor: pointer;
            color: #939393;
            &:hover {
              color: inherit;
            }
          }
        }
        input {
          border-left: unset;
        }
      }
    }
  }
  div.ngid-table-body {
    position: relative;
    div.ngid-loader {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      bottom: 50%;
      transform: inherit;
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgb(255, 255, 255);
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(120, 120, 120, 0.12228641456582634) 50%,
        rgba(255, 255, 255, 0) 100%
      );
    }
    table.table.ngid-table {
      min-height: 200px;
      thead {
        tr {
          th {
            border-bottom: unset;
            font-weight: normal;
            color: #939393;
            white-space: nowrap;
            vertical-align: middle;
            &.th-action {
              text-align: center;
              div.th-content {
                display: block;
                text-align: center;
              }
            }
            &.sortable {
              &:hover {
                background-color: #fafafa;
                cursor: pointer;
              }
              &.sort-asc div.th-content em::after,
              &.sort-desc div.th-content em::after {
                font-family: "Font Awesome\ 5 Free";
                position: absolute;
                left: 0;
                top: 0;
                font-weight: 700;
                color: #939393;
              }
              &.sort-asc {
                div.th-content {
                  em {
                    &::after {
                      content: "\f0de";
                    }
                  }
                }
              }
              &.sort-desc {
                div.th-content {
                  em {
                    &::after {
                      content: "\f0dd";
                    }
                  }
                }
              }
            }
            div.th-content {
              display: flex;
              align-items: center;
              justify-content: space-between;
              &.th-content-date {
                .th-text {
                  margin: 0 auto;
                }
              }
              &.th-content-currency,
              &.th-content-number {
                justify-content: end;
              }
              em {
                margin-left: 0.4em;
                color: #e6e6e6;
                position: relative;
              }
            }
          }
        }
      }
      tbody {
        border-top: unset;
        tr {
          &:nth-child(odd) {
            background-color: #f8f8f8;
          }
          &:hover {
            background-color: darken(#f8f8f8, 3);
          }
          &.tr-loader {
            height: 100px;
          }
          &.tr-not-found {
            background-color: transparent;
            td {
              .not-found-wrapper {
                height: 100px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
              }
            }
          }
          &:hover {
            td {
              .td-content {
                .td-content-hyperlink {
                  a {
                    text-decoration: underline;
                  }
                }
              }
            }
          }
          td {
            border-bottom: unset;
            white-space: nowrap;
            vertical-align: middle;
            &.td-action {
              text-align: center;
              white-space: nowrap;
              button {
                margin: 0.2rem;
              }
            }
            .td-content {
              &.td-content-currency,
              &.td-content-number {
                text-align: right;
              }
              &.td-content-date {
                text-align: center;
              }

              .td-content-hyperlink {
                a {
                  text-decoration: none;
                }
              }
              .td-content-img {
                width: 47px;
                height: 47px;
                border-radius: 0.5em;
                overflow: hidden;
                border: 3px solid #e0e0e0;
                text-align: center;
                img {
                  width: 100%;
                }
                &.rounded {
                  border-radius: 47px !important;
                }
              }
            }
          }
        }
      }
    }
  }
  div.ngid-table-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul.pagination {
      margin-bottom: 0 !important;
    }
  }
}

/* generated by https://loading.io/ */
@keyframes ldio-h748mykorlm {
  0% {
    top: 43px;
    left: 43px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 6.5px;
    left: 6.5px;
    width: 73px;
    height: 73px;
    opacity: 0;
  }
}
.ldio-h748mykorlm div {
  position: absolute;
  border-width: 7px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: ldio-h748mykorlm 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.ldio-h748mykorlm div:nth-child(1) {
  border-color: #85a2b6;
  animation-delay: 0s;
}
.ldio-h748mykorlm div:nth-child(2) {
  border-color: #bbcedd;
  animation-delay: -0.5s;
}
.loadingio-spinner-ripple-ccobe1g0m4w {
  width: 64px;
  height: 64px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-h748mykorlm {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.64);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-h748mykorlm div {
  box-sizing: content-box;
}
